__pycache__/
*.pyc
*.pyo
*.pyd
instance/
venv/
dump.rdb


celerybeat-schedule
celerybeat.pid


frontend/node_modules/
frontend/dist/

backend/__pycache__
backend/applications/__pycache__/
backend/models/__pycache__/
backend/routes/__pycache__/
backend/venv